body {
    font-family: sans-serif;
    text-align: center;
}

#telemetry, #connection-state {
    font-size: 18px;
}

#connection-state {
    font-weight: bold;
    margin-bottom: 0px;
}

#telemetry {
    margin-top: 0px;
}

#joyDiv {
    display: inline-block;
    width: 250px;
    height: 250px;
}