body {
    font-family: sans-serif;
}

#battery-voltage {
    margin-right: 10px;
}

#telemetry i {
    margin-right: 3px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.text-centered {
    text-align: center;
}

.text-red {
    color: red;
}

.image-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-title {
    margin-bottom: 2px;
}

.modal-subtitle {
    margin-top: 0px;
}

.modal-button {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 6px;
}

#controls {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
}

#controls button, #controls input {
    padding: 5px;
}

#telemetry {
    margin-top: 0px;
}

#motherboard-connection-state {
    margin-bottom: 0px;
}

#camera-stream {
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

#wifi-modal-buttons {
    width: 100%;
    margin-top: 15px;
}

.controls-section {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}

.controls-section input[type="checkbox"] {
    margin-right: 5px;
}

.modal-content input, .modal-content select {
    width: 200px;
    padding: 5px;
}